/* 
  RESET 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  HTML
*/
html {
  font-family: 'Open Sans', sans-serif;
}

/* 
  BODY
*/
body {
  background-color: #F3F6FB;
}

/* 
  CONTAINERS 
*/
.container {
  max-width: 1160px;
  margin: auto;
}

/* 
  NAV | MENU 
*/
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}


nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

nav li {
  list-style: none;
  margin: 0 20px;
}

nav a {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
       transition: 0.5s ease-out;
}

nav a:hover {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
       transition: 0.5s ease-out;
  -webkit-box-shadow: 0px 3px 10px -20px rgb(255, 255, 255);
  -moz-box-shadow: 0px 3px 10px -6px rgba(255, 255, 255);
       box-shadow: 0px 3px 10px -8px rgba(255, 255, 255);
}

/* 
  HEADER
*/
header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}


/* 
  HERO
*/
.hero {
  background-image: url('../images/bg-top.png');
  background-position: center 0;
  background-repeat: no-repeat;
  min-height: 880px;
  background-size: auto;
}

.hero__content { 
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.hero__infos {
  flex: 1;
}

.hero__infos h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 68px;
  color: #fff;
  margin: 20px 0 50px 0;
}

.hero__infos p {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  color: #fff;
  width: 80%;
  text-align: left;
}

.hero__support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.hero__support a {
  background-color: #4487FF;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 38px;
  -webkit-box-shadow: 0px 3px 10px -6px rgba(68, 135, 255, 1);
  -moz-box-shadow: 0px 3px 10px -6px rgba(68, 135, 255, 1);
       box-shadow: 0px 3px 10px -6px rgba(68, 135, 255, 1);
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
       transition: 0.5s ease-out;
  flex: 1;
}

.hero__support a:hover {
  -webkit-box-shadow: 0px 3px 10px -6px rgba(68, 135, 255, 1);
  -moz-box-shadow: 0px 3px 10px -6px rgba(68, 135, 255, 1);
       box-shadow: 0px 7px 21px -6px rgba(68, 135, 255, 1);
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
     transition: 0.5s ease-out;
}

.hero__support p {
  flex: 1;
  margin: 0 20px;
  font-size: 16px;
}

.hero__image {
  background: url(../images/hero-dog.png) 0 0 no-repeat;
  width: 440px;
  height: 540px;
}

/* 
  SERVICES 
*/
.services {
  background: url('../images/bg-services.png') center 0 no-repeat;
  min-height: 1300px;
  padding-top: 200px;
}

.services__title-box {
  text-align: center;
}

.services__title-box h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  font-weight: bold;
  color: #FF6752;
  padding: 30px 0;
}

.services__title-box p {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #808080;
}


.services__cards-box {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.card {
  background-color: #FFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
       border-radius: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .3);
       box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  padding: 30px 0;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
}

.card:first-child {
  margin-left: 0;
}

.card:last-child {
  margin-right: 0;
}

.card img {
  width: 80px;
  height: 80px;
}

.card p {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}




/* 
  TESTIMONIALS 
*/
.testimonials {
  margin-top: -30px;
  margin-bottom: 110px;
}

.testimonials__title-box {
  text-align: center;
}

.testimonials__title-box h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
  color: #FF6752;
  padding: 0 0;
}

.owl-carousel {
  margin-top: 160px;
}

.owl-carousel-testimonials {
  position: relative;
  padding: 0 100px;
}

.owl-carousel-testimonials .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
}

.owl-carousel-testimonials.owl-carousel .owl-nav button {
  position: absolute;
  transform: translateY(-50%);
  opacity: .7;
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
}

.owl-carousel-testimonials.owl-carousel .owl-nav button:hover {
  opacity: 1;
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
}

.owl-carousel-testimonials.owl-carousel .owl-nav button.owl-next {
  right: 0;
  width: 82px;
  height: 82px;
  background: url('../images/icon-arrow-right.png') no-repeat 0 0;
}

.owl-carousel-testimonials.owl-carousel .owl-nav button.owl-prev {
  left: 0;
  width: 82px;
  height: 82px;
  background: url('../images/icon-arrow-left.png') no-repeat 0 0;
}

.owl-next span,
.owl-prev span,
.owl-dots {
  display: none;
}

.testimonials__cards {
  height: 280px;
  background-size: cover;
  -webkit-box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
  -moz-box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
       box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
  margin: 10px 10px;
}

.testimonials__cards span {
  width: 73px;
  height: 73px;
  overflow: hidden;
  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
}

.testimonials__cards h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 25px 0 40px 0;
}

.testimonials__cards p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.card-bg-01 {
  background: url('../images/bg-testimonials-01.png') no-repeat 0 0;
  background-size: cover;
}

.card-bg-02 {
  background: url('../images/bg-testimonials-02.png') no-repeat 0 0;
  background-size: cover;
}


/*  
  HOW-IT-WORKS 
*/
.how-it-works {
  padding-bottom: 100px;
  background: url('../images/bg-how-it-works.png') center 0 no-repeat;
  min-height: 1493px;
}

.how-it-work__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-it-works__title {
  flex: 1;
  margin-left: 120px;
  margin-right: 20px;
}

.how-it-works__title h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 41px;
  font-weight: bold;
  color: #FF6752;
  margin-bottom: 40px;
}

.how-it-works__title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #808080;
}


.make-happen__box {
  display: flex;
  align-items: center;
  background: url('../images/bg-make-happen.png') no-repeat 0 0;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
  -moz-box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
       box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
  margin-top: 150px;
}

.make-happen__image {
  padding: 20px 40px;
}

.make-happen__content {
  margin: 0;
  padding: 20px 30px 20px 20px;
}

.make-happen__content h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #FFE530;
    margin-bottom: 10px;
}

.make-happen__content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #F8F8F8;
  margin-bottom: 40px;
}

.make-happen__content a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FE6845;
  background-color: #F8F8F8;
  -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
           border-radius: 40px;
  padding: 20px 40px;
  text-decoration: none;
  margin: 0;
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
}

.make-happen__content a:hover {
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
  -webkit-box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
      -moz-box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
          box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
  background-color: #FE6845;
  color: #fff;
}


.media {
  padding-top: 200px;
}

.media h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #B1BBCD;
  text-align: center;
}

.media__logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
}



/* 
  Footer 
*/
footer {
  background: url('../images/bg-footer.png') center 0 no-repeat;
  min-height: 350px;
  margin-top: 150px;
}

.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 350px;
}

.footer__box nav {
  padding-top: 100px;
}

.footer__box nav a {
  display: inline-block;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
           border-radius: 40px;
  text-decoration: none;
  margin: 0 30px;
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
}

.newsletter h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #FFE530;
}

.newsletter p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  margin: 20px 0;
}

form {
  display: flex;
  background: #fff;
  margin: 20px 0 0 0;
  -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
           border-radius: 40px;
  -webkit-box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
       -moz-box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
            box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
}

form input {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #808080;
  padding: 20px 0px 20px 30px;
  border: none;
  outline: none;
  background: none;
}

form button {
  background: url("../images/icon-arrow.png") no-repeat 0 3px;
  width: 63px;
  height: 63px;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
}

form button:hover {
  opacity: 0.7;
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
}

form button img {
  margin-top: 6px;
}

.footer__base {
  background: #fff;
}

.footer__base-box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.footer__base-box h4 {
  color: #FF6752;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.social-medias {
  margin-top: 10px;
}

.social-medias a {
  margin: 0 5px;
  display: inline-block;
}

.social-medias a:last-child {
  margin: 0 0 0 5px;
}

.icon {
  width: 46px;
  height: 46px;
  display: block;
  opacity: 1;
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
}

.icon:hover {
  width: 46px;
  height: 46px;
  display: block;
  opacity: .7;
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
}

.icon-fb {
  background: url(../images/icon-facebook.png) no-repeat 0 0;
}
.icon-twitter {
  background: url(../images/icon-twitter.png) no-repeat 0 0;
}
.icon-instagram {
  background: url(../images/icon-instagram.png) no-repeat 0 0;
}



@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 1055px) {
  .how-it-works__title {
      margin-left: 40px;
  }
}

@media (max-width: 975px) {
  nav a{
    font-size: 18px;
  } 
  .hero__infos h1 {
    font-size: 38px;
    text-align: center;
  }
  .hero__infos p {
    text-align: center;
    width: 100%;
  }
  .hero__support {
    flex-direction: column;
  }
  .hero__support a {
    margin-bottom: 25px;
  }
  .hero__support p {
    text-align: center;
  }
  .services {
    padding-top: 50px;
    padding-top: 50px;
    background-position-x: center;
    background-position-y: -215px;
    min-height: 1000px
  }
  .card p{
    font-size: 14px;
  }
  .testimonials__cards {
    padding: 0 15px;
  }
  .testimonials__cards h3 {
    margin: 10px 0 20px 0;
  }

  .how-it-work__box {
    flex-direction: column-reverse;
  }

  .how-it-works__title {
    margin-left: 0;
  }

  .how-it-works__title h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .how-it-works__title p {
    margin-bottom: 50px;
  }

  .make-happen__content h2 {
    font-size: 28px;
  }

  .make-happen__content p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .make-happen__content a {
    padding: 10px 30px;
  }
}

@media (max-width: 820px) {
 .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: #FF6752;
        width: 100%;
        border-radius: 1px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:hover{
    color: #F8F8F8;
}

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

  .hero__content {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .hero__infos h1 {
    margin: 0 0 20px 0;
  }

  .hero__infos p {
    font-size: 21px;
  }

  .hero__support {
    margin-top: 30px;
  }

  .hero__support a {
    margin-bottom: 10px;
    padding: 14px;
    font-size: 14px;
  }

  .hero__image {
    margin-top: 0;
  }
  
}

@media (max-width: 705px) {
  .card img {
    width: 50px;
    height: 50px;
}

.card p {
    font-size: 13px;
    text-align: center;
}

  .how-it-works {
    padding-bottom: 0px;
    min-height: 1270px;
  }

  .how-it-work__box img {
    max-width: 100%;
  }

  .make-happen__box {
    margin-top: 100px;
  }

  .make-happen__image  {
    display: none;
  }

  .media {
    padding-top: 80px;
  }

  .footer__box nav {
    display: none;
  }

  .newsletter {
    margin: auto;
  }
  
  footer {
    margin-top: 49px;
  }
}