/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #F3F6FB;
}


/* CONTAINERS */
.container {
  width: 1160px;
  margin: auto;
}



/* SECTION HERO */
.hero {
  background: url('../images/bg-top.png') center 0 no-repeat;
  min-height: 880px;
}

/* header */
header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}


/* nav | menu */
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

nav li {
  list-style: none;
  margin: 0 20px;
}

nav a {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
       transition: 0.5s ease-out;
}

nav a:hover {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
       transition: 0.5s ease-out;
  -webkit-box-shadow: 0px 3px 10px -20px rgb(255, 255, 255);
  -moz-box-shadow: 0px 3px 10px -6px rgba(255, 255, 255);
       box-shadow: 0px 3px 10px -8px rgba(255, 255, 255);
}



/* content */
.content { 
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}


/* Infos */
.content .infos h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 68px;
  color: #fff;
  margin: 20px 0 50px 0;
}

.content .infos p {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  color: #fff;
  width: 80%;
  text-align: left;
}

/* button and call text */
.content .infos .support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.content .infos .support a {
  background-color: #4487FF;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 38px;
  -webkit-box-shadow: 0px 3px 10px -6px rgba(68, 135, 255, 1);
  -moz-box-shadow: 0px 3px 10px -6px rgba(68, 135, 255, 1);
       box-shadow: 0px 3px 10px -6px rgba(68, 135, 255, 1);
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
       transition: 0.5s ease-out;
  flex: 1;
}

.content .infos .support a:hover {
  -webkit-box-shadow: 0px 3px 10px -6px rgba(68, 135, 255, 1);
  -moz-box-shadow: 0px 3px 10px -6px rgba(68, 135, 255, 1);
       box-shadow: 0px 7px 21px -6px rgba(68, 135, 255, 1);
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
     transition: 0.5s ease-out;
}

.content .infos .support p {
  flex: 1;
  margin: 0 20px;
  font-size: 16px;
}



/* SECTION SERVICES */
.services {
  background: url('../images/bg-services.png') center 0 no-repeat;
  min-height: 1300px;
  padding-top: 200px;
}

.services .title-box {
  text-align: center;
}

.services .title-box h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  font-weight: bold;
  color: #FF6752;
  padding: 30px 0;
}

.services p {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #808080;
}


.services .cards-box {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.services .cards-box .card {
  background-color: #FFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
       border-radius: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .3);
       box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.services .cards-box .card p {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}




/* SECTION TESTIMONIALS */
.testimonials {
  margin-top: -30px;
  margin-bottom: 110px;
}

.testimonials .title-box {
  text-align: center;
}

.testimonials .title-box h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
  color: #FF6752;
  padding: 0 0;
}

.testimonials .owl-carousel {
  margin-top: 160px;
}

.testimonials .owl-carousel__testimonials {
  position: relative;
  padding: 0 100px;
}

.testimonials .owl-carousel__testimonials .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
}

.testimonials .owl-carousel__testimonials.owl-carousel .owl-nav button {
  position: absolute;
  transform: translateY(-50%);
}

.owl-carousel__testimonials.owl-carousel .owl-nav button.owl-next {
  right: 0;
  width: 82px;
  height: 82px;
  background: url('../images/icon-arrow-right.png') no-repeat 0 0;
}

.owl-carousel__testimonials.owl-carousel .owl-nav button.owl-prev {
  left: 0;
  width: 82px;
  height: 82px;
  background: url('../images/icon-arrow-left.png') no-repeat 0 0;
}

.owl-next span,
.owl-prev span,
.owl-dots {
  display: none;
}

.testimonials .cards {
  height: 280px;
  background-size: cover;
  -webkit-box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
  -moz-box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
       box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
  margin: 10px 10px;
}

.testimonials .card-bg-01 {
  background: url('../images/bg-testimonials-01.png') no-repeat 0 0;
  background-size: cover;
}

.testimonials .card-bg-02 {
  background: url('../images/bg-testimonials-02.png') no-repeat 0 0;
  background-size: cover;
}

.testimonials .cards span {
  width: 73px;
  height: 73px;
  overflow: hidden;
  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
}

.testimonials .cards h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 25px 0 40px 0;
}

.testimonials .cards p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}


/* SECTION HOW-IT-WORKS */
.how-it-works {
  padding-bottom: 100px;
  background: url('../images/bg-how-it-works.png') center 0 no-repeat;
  min-height: 1493px;
}

.how-it-works-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-it-works-box .title {
  flex: 1;
  margin-left: 120px;
  margin-right: 20px;
}

.how-it-works-box .title h2 {
  font-family: 'Comfortaa', cursive;
  font-size: 41px;
  font-weight: bold;
  color: #FF6752;
  margin-bottom: 40px;
}

.how-it-works-box .title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #808080;
}


.make-happen-box {
  display: flex;
  align-items: center;
  background: url('../images/bg-make-happen.png') no-repeat 0 0;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
  -moz-box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
       box-shadow: 0px 2px 9px 1px rgb(50 32 206 / 40%);
  margin-top: 150px;
}

.make-happen-box .make-image {
  padding: 20px 40px;
}

.make-happen-box .make-content {
  margin: 0;
  padding: 20px 30px 20px 20px;
}

.make-happen-box .make-content h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #FFE530;
    margin-bottom: 10px;
}

.make-happen-box .make-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #F8F8F8;
  margin-bottom: 40px;
}

.make-happen-box .make-content a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FE6845;
  background-color: #F8F8F8;
  -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
           border-radius: 40px;
  padding: 20px 40px;
  text-decoration: none;
  margin: 0;
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
}

.make-happen-box .make-content a:hover {
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
  -webkit-box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
      -moz-box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
          box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
  background-color: #FE6845;
  color: #fff;
}


.media {
  padding-top: 200px;
}

.media h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #B1BBCD;
  text-align: center;
}

.media .logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
}



/* Footer */
footer {
  background: url('../images/bg-footer.png') center 0 no-repeat;
  min-height: 350px;
  margin-top: 150px;
}

footer .footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 350px;
}

footer nav {
  padding-top: 100px;
}

footer nav a {
  display: inline-block;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
           border-radius: 40px;
  text-decoration: none;
  margin: 0 30px;
  -webkit-transition: 0.5s ease-out;
     -moz-transition: 0.5s ease-out;
          transition: 0.5s ease-out;
}

footer .newsletter {}

footer .newsletter h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #FFE530;
}

footer .newsletter p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  margin: 20px 0;
}

footer .newsletter form {
  display: flex;
  background: #fff;
  margin: 20px 0 0 0;
  -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
           border-radius: 40px;
  -webkit-box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
       -moz-box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
            box-shadow: 1px 7px 7px -4px rgb(5, 0, 0, 0.36);
}

footer .newsletter form input {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #808080;
  padding: 20px 0px 20px 30px;
  border: none;
  outline: none;
  background: none;
}

footer .newsletter form button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

footer .newsletter form button img {
  margin-top: 6px;
}

footer .base {
  background: #fff;
}

footer .base .base-box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

footer .base .base-box h4 {
  color: #FF6752;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}


footer .base .base-box .social-medias {
  margin-top: 10px;
}

footer .base .base-box .social-medias a {
  margin: 0 5px;
  display: inline-block;
}

footer .base .base-box .social-medias a:last-child {
  margin: 0 0 0 5px;
}

